@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
   font-family: 'Source Sans Pro', sans-serif;
}
body{
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#modal{
   height: 128px;
   width: 360px;
   border: 1px solid #fff;
   border-radius: 10px;
   position: absolute;
   display: grid;
   grid-template-columns: repeat(6,1fr);
   color:white;
   background-color: #535154;
   z-index: 3;
   visibility: hidden;
   
}
#modalbtn{
   height:40px;
   width:80px;
   grid-column: 3/5;
   margin-top: -22px;
}
#modaltext{
   grid-column: 2/7;
   margin-top: 33px;
}
#alert{
   height: 18px;
   width: 18px;
   fill: yellow;
   margin-left: 34px;
   margin-top: 33px;
   grid-column: 1/2;
}
#input-field{
    height: 60px;
    width: 400px;
    background-color: #535154;
}
#pwd{
    margin-top: 15px;
    margin-left: 34px;
    height: 30px;
    width: 298px;
    border: transparent;
    background-color: #535154;
    font-size: 25px;
    font-weight: bold;
}
#pwd:focus{
    outline: none;
    color: #fff;
}
.title{
    color: #535154;
    font-weight: bolder;
    font-size: 20px;
}
#Layer_1{
    fill: #95DF8F;
    height: 20px;
    width: 30px;
    margin-top: 5px;
}
#Layer_1:hover{
    fill:#fff;
    cursor: pointer;
}
#pwd-specifications{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    margin-top: 20px;
    height: 400px;
    width: 400px;
    background-color: #535154;
}
.textcolor{
    color:#fff;
    font-size: 20px;
}
.lengthcolor{
    color:#95DF8F;
    font-size: 24px;
    font-weight: bolder;
}
.pwdlen{
    display: inline;
}
#charlength{
    margin-left: 136px;
}
/*slider styling*/
#slider{
  display: block;
  -webkit-appearance: none;
  appearance: none;
  background: black;
  margin-top: 15px;
  width: 312px;
  border-radius: 5px;
  background-image: linear-gradient(#95DF8F, #95DF8F);
  background-size: 0% 100%;
  background-repeat: no-repeat;
}
/***** Chrome, Safari, Opera, and Edge Chromium *****/
#slider::-webkit-slider-runnable-track {
    height: 0.5rem;
    border-radius: 10px;
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  /******** Firefox ********/
  #slider::-moz-range-track {
    height: 0.5rem;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  /***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
#slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -5px; /* Centers thumb on the track */
    background-color: #fff;
    height: 1rem;
    width: 1rem; 
    border-radius: 50%;   
 }
 #slider::-moz-range-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -5px; /* Centers thumb on the track */
    background-color: #fff;
    height: 1rem;
    width: 1rem; 
    border-radius: 50%;    
 }
 #slider::-webkit-slider-thumb:hover{
    cursor: pointer;
 } 
 #slider::-moz-range-thumb:hover{
    cursor:pointer;
 }
 .checklist-container{
    display: grid;
    grid-template-rows: repeat(1fr,4);
    row-gap: 10px;
 }
 .pwd-strength-container{
    height: 50px;
    width: 312px;
    background-color: black;
 }
 /*styling checkboxes*/
 input[type='checkbox']{
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: transparent;
    border: 1px solid white;
    position: relative;
    margin: 0px 8px;
    
 }
 input[type='checkbox']:hover{
    cursor: pointer;
    background-color: #535154;
    border: 2px solid #95DF8F;
    
 }
 input[type='checkbox']::after{
    content:'\2713';
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    bottom:-2px;
    display: none;
 }
 input[type='checkbox']:checked{
    background-color: #95DF8F;
 }
 input[type='checkbox']:checked::after{
    display: block;
 }
 .generate{
    background-color: #95DF8F;
    border: 0px;
    height: 40px;
    width: 312px;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.4s;
 }
 .generate:hover{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #95DF8F;
    color:#95DF8F;
    font-size: 16px;
 }
 .margins{
    margin:0px 44px;
 }
 .pwd-strength-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .strength{
    color: #535154;
    font-weight: 600;
    margin-left: 15px; 
 }
 #strength-text{
    color:#fff;
    font-weight: bolder;
    visibility: hidden;
    bottom: 0px;
    position: relative;
    margin-right: 2px;
    display: inline-block; 
      
 }
 .strength-indicator{
    margin-right: 15px;
 }
 .indicator{
    display: inline-block;
    height: 20px;
    width: 8px;
    border: 1px solid white;
    position:relative;
    bottom: 5px;
 }
 #generate_svg{
   height: 14px;
   width: 15px;
   margin-left: 5px;
 }
 #Outline{
    height: 14px;
    width: 15px;
    fill:#95DF8F;
    margin-left: 5px;
 }
 #Outline:hover{
    fill:#fff;
    cursor: pointer;
 }
 /*responsiveness*/
 
 @media screen and (max-width:550px){
   .margins{
      margin: 0px 34px;
   }
   #input-field {
      height: 60px;
      width: 300px;
   }
   #pwd-specifications {
      height: 400px;
      width: 300px;  
  }
  #pwd{
   width:200px;
  }
  .textcolor{
   font-size:15px;
  }
  .lengthcolor{
   font-size: 21px;
  }
  #charlength{
   margin-left: 90px;
  }
  #slider{
   width:230px;
  }
  .pwd-strength-container,.generate {
   width: 230px;
}
#modal{
   height:160px;
   width: 250px;
}
#alert{
   margin-left: 18px;
 }
 }
 